<div class="jumbotron">
	<h1>Welcome to Fiver Each Way</h1>
	<p> Never have to work to choose horses again.</p>
	<p>
       <%= link_to "Log in", "#", class: "btn btn-default btn-lg" %>
       <%= link_to "Sign up", "#", class: "btn btn-primary btn-lg" %>
    </p>    
	<p>Created by <%= link_to "Emily", "#"%></p>
</div>
